<main class="main">
  <div class='title-contents'>
    <div class='store-btn'>
      <%= link_to image_tag("beauty-post.png", class:"apple-btn"), "#" %>
      <%= link_to image_tag("consult-post.png", class:"google-btn"), "#" %>
    </div>
  </div>
</main>

